ENABLE_TLS=false
PORT=4000
HTTP_PORT=4001
REDIRECT_SERVER=false
TLS_CERT_PATH=../auth-svc/certs/localhost.crt
TLS_KEY_PATH=../auth-svc/certs/localhost.key
AUTH_SVC_URL=http://localhost:4443
CATALOG_SVC_URL=http://localhost:4444
PRODUCT_SVC_URL=http://localhost:4445
ALLOW_INSECURE_UPSTREAM_TLS=false
PROXY_LOG_LEVEL=warn
TRUST_PROXY=false
ADMIN_PORTAL_URL=http://localhost:3000
STOREFRONT_URL=http://localhost:3001
